* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(218, 12%, 63%);
    font-family: Arial, sans-serif;
    color: white;
}

.search-bar {
    margin-top: 40px;
    width: 55vw;
    height: 50px;
    border: 3px solid #AFB4BF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

#myInput {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 15px;
    font-size: 16px;
}

button {
    border: none;
    border-radius: 20px;
    padding: 7px;
    background: white;
    cursor: pointer;
    font-size: 18px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55vw;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.upperImg {
    background: linear-gradient(to right, hsl(51, 100%, 56%), hsl(45, 100%, 47%));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperImg img {
    width: 220px;
}

#pokemonName {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#typeDisplay {
    margin: 15px 0 40px 0;
}


.type-badge {
    width: 90px;
    display: inline-block;
    margin: 5px;
    padding: 9px 5px;
    border-radius: 15px;
    border: none;
    background-color: orange;
    font-size: 12px;
    font-weight: bold;
}

.details {
    background-color: white;
    height: 75vh;
    color: hsl(0, 0%, 50%);
}

.height-weight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 20px;
}

#height,
#weight {
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
}

#pokemonHeight,
#pokemonWeight {
    margin-top: 6px;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

.abilities-stats {
    margin-left: 25px;
    margin-right: 25px;
}

.ability-badge {
    display: inline-block;
    margin: 5px;
    border-radius: 20px;
    padding: 5px 10px;
    color: black;
    background-color: hsl(0, 0%, 90%);
}

#abilities,
#base-stat {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

#base-stat {
    margin: 15px 0 10px 0;
}

.stats {
    display: flex;
    justify-content: space-between;
}

#pokemonHp,
#pokemonAtk,
#pokemonDef,
#pokemonSpAtk,
#pokemonSpDef,
#pokemonSpeed {
    font-weight: bold;
    color: black;
}

.hp-track,
.atk-track,
.def-track,
.spAtk-track,
.spDef-track,

.speed-track {
    margin: 10px 0;
    width: 100%; 
    background-color: #e5e7eb;
    border-radius: 9999px;
    height: 0.7rem;
    overflow: hidden;
}

.hp-fill,
.atk-fill,
.def-fill,
.spAtk-fill,
.spDef-fill,
.speed-fill {
    background: linear-gradient(to right, hsl(51, 100%, 56%), hsl(45, 100%, 47%));
    height: 0.7rem;
    border-radius: 9999px;
    transition: width 0.8s ease-out;
}